ul {
  list-style: none;
}

.plato-li {
  border: 1px solid;
  margin-top: 10px;
  border-color: #d1b242c7;
}

.menuExtraInfo {
  border: 2px solid;
  margin-bottom: 5px;
  height: 25vh;
}

.green-icon {
  color: green;
}
